{% extends 'base.html' %}

{% block title%}Add Pet{% endblock %}

{% block content %}
<div class="containor">
    <h1 class="text-center"><i><u>Add Pet</u></i></h1>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="form" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group text-center">
                    <i><b>{{ field.label }}</b></i>
                    {{ field(class_="form-control text-center") }}
                    <span>
                        {% for err in field.errors %}
                        <small class="for-text text-danger">
                            {{ err }}
                        </small>
                        {% endfor %}
                    </span>
                </div>
                {% endfor %}
                <div id="add_buttons">
                    <button type="submit" class="col-6 btn btn-dark"><i><b>Add Pet</b></i></button>
                    <a href="/" class="col-6 btn btn-outline-dark"><i><b>Cancel</b></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
